.sidebar {
    background-color: #FAFFC1;
}

.border-primary,
.btn-primary {
    border-color: rgba(0, 193, 254, 1) !important;
}

.ic {
    box-sizing: border-box;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-origin: content-box;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-profil {
    border-radius: 50%;
}

.ic-home {
    background-image: url("../img/ic-home.svg");
}

.ic-course {
    background-image: url("../img/cources.svg");
}

.ic-student {
    background-image: url("../img/student.svg");
}

.ic-payment {
    background-image: url("../img/payment.svg");
}

.ic-report {
    background-image: url("../img/report.svg");
}

.ic-setting {
    background-image: url("../img/setting.svg");
}

.ic-logout {
    background-image: url("../img/logout.svg");
    margin-bottom: 6px;
}

.ic-vector {
    background-image: url("../img/vector.svg");
}

.ic-notification {
    background-image: url("../img/notification.svg");
}

.ic-student2 {
    background-image: url("../img/Student2.svg");
}

.ic-course2 {
    background-image: url("../img/Cources2.svg");
}

.ic-payment2 {
    background-image: url("../img/Payment2.svg");
}

.ic-users2 {
    background-image: url("../img/user.svg");
}

.ic-sorte {
    background-image: url('../img/Sorte.svg');
}

.ic-edit {
    background-image: url('../img/edit.svg');
}

.ic-delete {
    background-image: url('../img/delet.svg');
}

.ic-showDetails {
    background-image: url('../img/showDetails.svg');
}

.cardUsers {
    background: linear-gradient(110.42deg, #00C1FE 18.27%, #FAFFC1 91.84%);
}

.cardPayment {
    background-color: rgba(254, 251, 236, 1);
}

.cardCources {
    background-color: rgba(254, 246, 251, 1);
}

.cardStudent {
    background-color: rgba(240, 249, 255, 1);
}

ul {
    margin: 0px !important;
    padding: 0px !important;
}

li {
    list-style: none;
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
}

.menu-items {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.menu-items li a.btn {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: .5rem;
}

.menu-items li a span:nth-child(1) {
    width: 100% !important;
}

.menu-items li a span:nth-child(2) {
    text-align: start;
    width: 80%;
    display: none;
}

.logOut .btn span:nth-child(2) {
    display: none;
}

.logOut .btn>* :nth(2) {
    width: 50%;
}

.btn-primary {
    background-color: #00C1FE !important;
}

.text-primary {
    color: #00C1FE !important;
}

.btn:hover {
    color: white;
    background-color: #00C1FE;
}

.btn:active {
    color: white;
    background-color: #00C1FE;
}

.table .card {
    display: table-row;
}

@media all and (min-width:992px) {
    .menu-items li a.btn {
        /* justify-content: flex-start !important;
        */
    }
    .menu-items li a span:nth-child(2) {
        display: block;
    }
    .logOut .btn {
        margin-top: 4rem;
        display: flex;
        align-content: center;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    .logOut .btn span:nth-child(2) {
        display: block;
    }
    #changeTailleOfH1 {
        font-size: 40px !important;
    }
}

body {
    background-color: #E5E5E5;
}